<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RestApi sparring</title>
    <!--<link rel="stylesheet" type="text/css" href="src/main/webapp/css/styles.css">-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        h1{

            text-align: center;

        }


    </style>
</head>
<body>
    <div class="container">
        <h1>API REST DOCUMENTACIÓN</h1>
        <p>Api para la práctica JavaEE Rest Full (hatoas) con MongoDB, usando el ODM Morphia y spring batch</p>
        <p>La siguiente api nos ofrece las operaciones crud básicas de los objetos : personas, familias, comentarios</p>
        <p>Index del API <a target="blank" href="http://localhost:8080/API">http://localhost:8080/API</a> </p>
        <p>Código fuente de la aplicación servidor <a target="blank" href="https://github.com/RaulAbejonDelgado/api_demo">https://github.com/RaulAbejonDelgado/api_demo</a></p>
        <p>Código fuente de la aplicación cliente <a target="blank" href="https://github.com/RaulAbejonDelgado/">https://github.com/RaulAbejonDelgado/cliente_api_demo</a></p>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Recurso</th>
                <th scope="col">GET</th>
                <th scope="col">GET/{id}</th>
                <th scope="col">POST</th>
                <th scope="col">PUT/{id}</th>
                <th scope="col">DELETE/{id}</th>

            </tr>
        </thead>
        <tbody>
        <!--PERSONAS ROW-->
            <tr>
                <th scope="row"><a target="blank" href="http://localhost:8080/API/personas">http://localhost:8080/API/personas</a></th>
                <td>Listado de personas</td>
                <td>Detalle de persona</td>
                <td>
                    Requisitos:
                    <ul>
                        <li>Nombre: Requerido</li>
                        <li>Nombre: Texto</li>
                        <li>Nombre: Entre 5 y 150 caracteres</li>
                        <li>Familia: Requerido</li>
                        <li>Familia: Valor numerico entero</li>
                    </ul>
                    Respuestas:
                    <ul>
                        <li>201 Creado</li>
                        <li>409 incumplimientos de alguna de los requisitos</li>
                    </ul>
                     <pre>
objeto esperado:

{
    "nombre": "enhord",
    "familyId":1
}

                     </pre>
                </td>
                <td>
                    Requisitos:
                    <ul>
                        <li>Nombre: Requerido</li>
                        <li>Nombre: Texto</li>
                        <li>Nombre: Entre 5 y 150 caracteres</li>
                        <li>Familia: Requerido</li>
                        <li>Familia: Valor numerico entero</li>
                    </ul>
                    Respuestas:
                    <ul>
                        <li>201 Creado</li>
                        <li>409 incumplimientos de alguna de los Requisitos</li>
                    </ul>
                    <pre>
objeto esperado:

{
    "nombre": "enhord",
    "familyId":1
}

                     </pre>
                </td>
                <td>Eliminacion de personas</td>
            </tr>
            <!--FAMILIAS ROW-->
            <tr>
                <th scope="row"><a target="blank" href="http://localhost:8080/API/familias">http://localhost:8080/API/familias</a></th>
                <td>Listado de familias</td>
                <td>detalle de familia</td>
                <td>
                    <pre>
objeto esperado:
{
    "nombre":"familia drohne5",
    "personas":[
        {
            "nombre":"drohne",
            "selfId":9
        }
    ]
}
                    </pre>

                </td>
                <td>
                    <pre>
objeto esperado:
{
    "_id": "5c29f97fa4033c513f32bf0f",
    "selfId": 11,
    "nombre": "familia Morphia Modificada",
    "personas": [
        {
            "_id": null,
            "selfId": 12,
            "familyId": 11,
            "nombre": "enhord y mi cipote2",
            "id": null
        }
    ]
}
                    </pre>
                </td>
                <td>Eliminacion de la familia</td>
            </tr>
            <!--COMENTARIOS ROW-->
            <tr>
                <th scope="row"><a target="blank" href="http://localhost:8080/API/comentarios">http://localhost:8080/API/comentarios</a></th>
                <td>Listado de comentarios</td>
                <td>Detalle del comentario</td>
                <td>
                    <pre>
Objeto:Esperado:

{
    "familia": [{
        "_id": "5c23ad0ffae44e51fe620f2b",
        "selfId": 1,
        "nombre": "familia AsierRaul"

    }],
    "texto": "asier",
    "persona": [{
        "_id": "5c1a48f34d1fe28adf723f69",
        "selfId": 1,
        "familyId": 1,
        "nombre": "Raul"

    }]
}
                    </pre>
                </td>
                <td>
                    <pre>
Objeto:Esperado:

{
    "familia": [{
        "_id": "5c23ad0ffae44e51fe620f2b",
        "selfId": 1,
        "nombre": "familia AsierRaul"

    }],
    "texto": "asier",
    "persona": [{
        "_id": "5c1a48f34d1fe28adf723f69",
        "selfId": 1,
        "familyId": 1,
        "nombre": "Raul"

    }]
 }
                    </pre>
                </td>
                <td>Eliminacion del comentario</td>
            </tr>
        </tbody>
    </table>
</body>
</html>